body{

margin:0;

padding:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Arial, sans-serif;

background:linear-gradient(135deg,#ff9a9e,#fad0c4,#fbc2eb,#a18cd1);

background-size:400% 400%;

animation:bgmove 10s ease infinite;

}

@keyframes bgmove{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

.card{

background:white;

padding:40px;

width:500px;

text-align:center;

border-radius:20px;

box-shadow:0 0 25px rgba(0,0,0,0.3);

}

h1{

color:#ff1493;

font-size:50px;

animation:glow 1s infinite alternate;

}

@keyframes glow{

from{

text-shadow:0 0 10px yellow;

}

to{

text-shadow:0 0 25px red;

}

}

h2{

color:#6a0dad;

}

p{

font-size:20px;

line-height:1.6;

}

.cake{

font-size:120px;

animation:bounce 1.2s infinite;

}

@keyframes bounce{

50%{

transform:translateY(-20px);

}

}

.wish{

color:#ff1493;

font-weight:bold;

font-size:22px;

}